
    /*background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
→ Si tu ajoutes une image de fond (avec background-image), cette règle dit :

l’image doit couvrir toute la surface visible du body,

elle garde son proportions,

et peut donc être coupée/zoomée pour remplir l’écran sans bandes blanches.

background-repeat: no-repeat;
→ Empêche l’image de fond de se répéter en mosaïque (par défaut, une image trop petite se répète).*/

