/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #000; /* simplifié */
  position: relative;
  z-index: 100;
}

/* === NAVIGATION === */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.nav-links a:hover {
  color: #fff;
  border-color: #ff6700;
  background-color: rgba(44, 42, 41, 0.2); /* effet hover simplifié */
}

.nav-link.active {
  border-color: #ff6700;
  background-color: #ff6700;
}

/* === BOUTONS BURGER === */
#openBtn,
#closeBtn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}


/* === LANG SWITCH === */
.lang-switch {
  display: flex;
}

.lang-switch button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 20px 0 0 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.lang-switch button:hover {
  border-color: #ff6700;
}


.lang-switch button:last-child {
  border-radius: 0 20px 20px 0;
}

.lang-switch button.active {
  background-color: #ff6700;
}

.lang-switch img {
  width: 20px;
  height: 15px;
}

@media (max-width: 890px) {
    #openBtn {
        display: block;
    }
    
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 45%;
        background: linear-gradient(to right, rgba(0,0,0,1), rgba(36,36,36,0.9));
        flex-direction: column;
        align-items: flex-start;
        padding-top: 60px;
        padding-left: 20px;
       transform: translateX(-100%);
        transition: transform 0.3s ease; /* pour l’animation */
        z-index: 1000;
    }
    nav .nav-links.active {
        transform: translateX(0);
        
    }

    #closeBtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        color: #ff0000;
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
        
    }

}